[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=leo
Group=leo

WorkingDirectory=/home/leo/tg/
Environment="PYTHONPATH=/home/leo/tg/"
ExecStart=/home/leo/tg/.venv/bin/python /home/leo/tg/main.py

[Install]
WantedBy=multi-user.target
